@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding: 0%;
    margin: 0%;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

:root{
    --background-color:#2c283e;
    --succses-border:#01C851;
    --error-border:#FF3447;
    --warning-border:#FFBB35;
    --info-border:#33B5E7;
    --succses-background:#017e3330;
    --error-background:#CD000130;
    --warning-background:#FF880130;
    --info-background:#0099CC30;
}

body{
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 15px 35px;
    margin: 10px;
    border-radius: 5px;
    color: #ffffff;
    transition: 0.5s;
}

#succses{
    background-color: var(--succses-background);
    border: 3px solid var(--succses-border);
}

#succses:hover{
    background-color: var(--succses-border);
}

#error{
    background-color: var(--error-background);
    border: 3px solid var(--error-border);
}

#error:hover{
    background-color: var(--error-border);
}

#warning{
    background-color: var(--warning-background);
    border: 3px solid var(--warning-border);
}

#warning:hover{
    background-color: var(--warning-border);
}

#info{
    background-color: var(--info-background);
    border: 3px solid var(--info-border);
}

#info:hover{
    background-color: var(--info-border);
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 25px;
    right: 25px;
}

.notification{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    width: 320px;
    height: 70px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 10px;
    animation: show 5s ease;
    opacity: 0;
}

.succses{
    color: var(--succses-border);
    background-image: linear-gradient(
        to right , #01C851aa , var(--succses-background) 25%
    );
}

.succses::before{
    content: '';
    width: 0%;
    height: 3px;
    background-color: var(--succses-border);
    box-shadow: 0px 0px 10px var(--succses-border);
    position: absolute;
    bottom: 0px;
    right: 0px;
    animation: end 5s linear;
}

.error{
    color: var(--error-border);
    background-image: linear-gradient(
        to right , #FF3447aa , var(--error-background) 25%
    );
}

.error::before{
    content: '';
    width: 0%;
    height: 3px;
    background-color: var(--error-border);
    box-shadow: 0px 0px 10px var(--error-border);
    position: absolute;
    bottom: 0px;
    right: 0px;
    animation: end 5s linear;
}

.warning{
    color: var(--warning-border);
    background-image: linear-gradient(
        to right , #FFBB35aa , var(--warning-background) 25%
    );
}

.warning::before{
    content: '';
    width: 0%;
    height: 3px;
    background-color: var(--warning-border);
    box-shadow: 0px 0px 10px var(--warning-border);
    position: absolute;
    bottom: 0px;
    right: 0px;
    animation: end 5s linear;
}

.info{
    color: var(--info-border);
    background-image: linear-gradient(
        to right , #33B5E7aa , var(--info-background) 25%
    );
}

.info::before{
    content: '';
    width: 0%;
    height: 3px;
    background-color: var(--info-border);
    box-shadow: 0px 0px 10px var(--info-border);
    position: absolute;
    bottom: 0px;
    right: 0px;
    animation: end 5s linear;
}

.title h6{
    font-size: small;
    color:#c9c9c9 ;
}


@keyframes show {
    2%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

@keyframes end {
    to{
        width: 100%;
    }
}
